body{
    font-size: 0.80em;
    background-color: #dfe8f6;
    font-family: Arial, sans-serif; 
}

div#pagewrap{
    border: 1px solid #dddddd;
    width: 960px;
    margin: 10px auto;
    padding: 0px 0px 40px 0px;
    background-color: white; 
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: auto;
}

div#headerwrap{
    color: white;
    background: #436796; /* Old browsers */
    background: -moz-linear-gradient(top, #436796 0%, #4e78b1 55%, #72b1ff 90%, #72afff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#436796), color-stop(55%,#4e78b1), color-stop(90%,#72b1ff), color-stop(100%,#72afff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #436796 0%,#4e78b1 55%,#72b1ff 90%,#72afff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #436796 0%,#4e78b1 55%,#72b1ff 90%,#72afff 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #436796 0%,#4e78b1 55%,#72b1ff 90%,#72afff 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#436796', endColorstr='#72afff',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #436796 0%,#4e78b1 55%,#72b1ff 90%,#72afff 100%); /* W3C */  
    margin: 6px;
    padding: 30px 0px 0px 0px;
    border: 0px 0px 3px 0px solid #55555;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 130px;
}

div#mainwrap{
    margin-top: 0px;
    height: 100%;
    padding: 0px 30px 0px 30px;
}

h1{
    font-size: 1.55em;
    color: #4E78B1;
    padding: 2px 0px 2px 0px;
    margin-top: 30px;
}

h2{
    color: white;
    background-color: #4E78B1;
    font-size: 1.35em;
    font-weight: bold;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 5px;
}

h2.fta,
h2.scrambled{
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-bottomright: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-bottom: 0px;
}

div.fta,
h2.fta{
    color: white;
    background-color: #4E78B1;
}

h2.scrambled{
    color: white;
    background-color: #E57A3C;
}

h3{
    color: black;
    font-size: 1em;
    font-weight: bold;
}

div.group_anchors,
pre { 
    border: 1px solid #4E78B1; 
    padding: 2px 5px 5px 5px;
    margin: 0px;
    background-color: white; 
    overflow: auto;
    /*max-height: 600px;
    height: auto;*/
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 0.8em;
    font-family: sans-serif, Arial;
}

div.group_anchors{
    overflow: inherit;
    padding-right: 50px;
}

pre.scrambled, 
pre.fta {
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    margin-top: 0px;
    padding: 8px;
    border-top-width: 0px;
}

pre.changelog {
    border: none;
    background-color: #eeeeee; 
}

pre.fta {
    background-color: MintCream;
}

pre span:hover{
    background-color: #dddddd;
}

pre span.outdated{
    color: #bbbbbb;
}

div.box{
  border: 1px solid black;
  padding: 1px;
  font-color: black;
  font-size: 0.6em;
  background-color: white;

}

tr.scrambled,
tr.scrambled th,
pre.scrambled{
    background-color: Moccasin;
    border-color: #E57A3C;
}

div.tablecontainer{
    width: 900px;
    overflow: auto;
    /*max-height: 600px;
    height: auto;
    */
}
 
table { 
    font-family: Arial, sans-serif; 
    font-size: 0.8em; 
    background-color: white; 
    border-collapse:collapse;
    width: 100%;
}

tr.changelog_row_style_1 { 
    background-color: #dfe8f6;
}

td,th { 
    border: 1px solid #4E78B1;
    padding: 3px; 
 }

th{
    color: #4E78B1;
    background-color: #dfe8f6; 
}

td.source{
    background-color: #dfe8f6; 
}

td.sid, td.nid, td.rid, td.rid, td.tpid, td.frequency, td.symbolrate{
    text-align: right;
}
 
div.group_anchors ul.group_anchors li,
ul.singleSourceMainMenu li,
ul.entryMenu li,
ul.section_menu li {
    padding: 10px 0px 2px 0px;
    font-size: 1.35em;
    color: #4E78B1;
}

ul.entryMenu ul li {
    padding: 2px 0px 2px 0px;
    font-size: 1.15em;
    color: #4E78B1;
    margin: 2px;
}

ul.entryMenu ul.satPos li, 
ul.section_menu li{
    display: inline;
    float: left;
}
ul.entryMenu ul li a{
    text-decoration: none;
    margin: 2px;
    padding: 1px 5px 1px 5px;
    border: 1px solid transparent;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #191970;
}

ul.entryMenu ul li a:hover,
ul.entryMenu ul ul ul li a:hover{
    color: orange;
    background-color: Moccasin;
    border: 1px solid orange;
}


ul.section_menu{
    list-style-position:inside;
    list-style-type: none;
    padding: 0px;
}

ul.section_menu li a,
ul.section_menu li.active span{
    font-weight: bold;
    text-decoration: none;
    color: orange;
    background-color: Moccasin;
    margin: 2px;
    padding: 1px 5px 1px 5px;
    border: 1px solid orange;
    -moz-border-radius: 10px;
    border-radius: 10px;
 }

ul.section_menu li a,
ul.section_menu li.active span{
    border-width: 1px 1px 1px 1px;
    padding: 4px 8px 4px 8px;
    margin: 2px 0px 2px 0px;
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-bottomright: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background: rgb(255,228,181); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,228,181,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,228,181,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,228,181,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,228,181,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,228,181,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(255,228,181,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe4b5', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

ul.section_menu li a:hover
{
    background-color: orange;
    color: red;
}

ul.section_menu li.active span{
    border-width: 1px 1px 0px 1px;
    background: none;
    filter: none;
    background-color: white;
    color: black;
}

ul.group_anchors li{
    text-align: justify;
    margin-bottom: 0.5em;
}

ul.group_anchors li a{
    font-size: 1.0em;
    text-decoration: none;
}

ul.group_anchors li a span.anchorlist_channelnames{
    color: #E57A3C;
    font-weight: bold;
    font-size: 0.8em;
}

ul.group_anchors li a span.anchorlist_channelnames span.single{
    color: #666666;
    font-weight: normal;
    white-space: nowrap;
}


ul.group_anchors li a span.anchorlist_groupname{
    font-weight: bold;
    color: #4E78B1;
    padding-right: 0.5em;
}

ul.group_anchors li a span.scrambled{
    color: #E57A3C;
}

/*
ul.group_anchors li:hover{
   background-color: orange;
}*/


ul.singleSourceMainMenu{
	margin: 0px;
	padding: 0px;
}

ul.singleSourceMainMenu li{
    background-color: #dfe8f6;
    width: 250px;
    height: 180px;
    float: left;
    overflow: hidden;
    border: 1px solid #dddddd;
    margin: 8px;
    padding: 16px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: justify;
    
}

ul.singleSourceMainMenu li p.caption{
    text-align: left;
    font-weight: bold;
    color: #4E78B1;
    font-size: 1.0em;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    height: 40px;
    overflow: hidden;
}

ul.singleSourceMainMenu li p.description{
    height: 120px;
    overflow: hidden;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

ul.singleSourceMainMenu li p.button {
    text-align: right;
    padding: 0px;
    margin: 0px;
    margin-top: 4px;
}

ul.singleSourceMainMenu li a {
    padding: 2px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-weight: bold;
    background-color: #4E78B1;
    color: white;
    font-size: 1.0em;
    text-decoration: none;
}

ul.singleSourceMainMenu li a:hover{
    background-color: orange;
}

ul.singleSourceMainMenu li span{
    color: #888888;
    font-size: 0.8em;
}

p.warning{
    border: 1px solid wheat; 
    background-color: pink; 
    color:red; 
    font-weight: bold; 
    text-align: center;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 2px;
}

p.description{
    /*border: 1px solid wheat;*/ 
    background-color: Moccasin;
    border-color: #E57A3C;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 10px;
}

img.flag_icon,
img.lock_icon{
  border-width: 0px;
  margin-width: 0px;
}

img.flag_icon{
  padding: 0px 3px 0px 0px;
}

div#logoimage{
    background-image: url('../res/icons/yavdr_logo_150x50_transparent.png');
    width: 150px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

p.timestamp{
    font-size: 1.0em;
    color: #333333;
    text-align: center;
    margin-top: 20px;
}

div.wikipedia_data {
    background-color: black;
    padding: 4px;
    background-color: MintCream;
    border-style: solid;
    border-color: #4E78B1; 
    border-width: 1px 1px 0px 1px;
}

div.wikipedia_data div.single_channel{
    float: left;
    margin: 4px;
    width: 140px;
    height: 44px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

div.wikipedia_data div.single_channel div.channel_illustration,
div.wikipedia_data div.single_channel div.channel_details{
    margin: 4px;
    float: right;
}

div.wikipedia_data div.single_channel div.channel_details{
    margin-top: 0px;
}

div.wikipedia_data div.single_channel div.channel_details{
    padding-left: 4px;
    float: left;
    width: 112px;
    color: white;
    font-size: 0.8em;
    overflow: hidden;
    white-space: nowrap;
}

div.wikipedia_data div.single_channel div.channel_details a{
    color: white;
}

div.fta div.single_channel{
    background-color: #4E78B1;
}

div.scrambled div.single_channel{
    background-color: #E57A3C;
}

div.fta{
    border-color: #4E78B1; 
}

div.scrambled{
    background-color: Moccasin;
    border-color: #E57A3C;
    color: white;
}

pre.scrambled, 
pre.fta,
div.wikipedia_data {
  border-width: 0px;
}

table.sourcestats td{
  text-align: right;
}

table.sourcestats th{
  text-align: left;
}

table.sourcestats{
  width: auto;
  font-size: 0.7em;
}